body,html {
    background: #007bff;
    height:100%;
}
h1 {
    height:auto;
    display:table;
    width: 80%;
    text-align:center;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    font-size:3em;
}

h2 {
    position: fixed;
    text-align: center;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 20px;
    font-family: Roboto;
    font-weight: normal;
    z-index: 999;
}
span{
    font-size:15px;
    font-weight: lighter;
}
a{
    color:white;
    font-size:15px;
    padding: 0 30px
}
