<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Mr. Tiago</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/lightbox.min.css" rel="stylesheet" />
    <style>
        /*.spec-card .card::before {*/
        /*    position: absolute;*/
        /*    top: 2rem;*/
        /*    right: -0.5rem;*/
        /*    content: "";*/
        /*    background: #283593;*/
        /*    height: 18px;*/
        /*    width: 18px;*/
        /*    transform: rotate(45deg);*/
        /*}*/

        .spec-card .card::after {
            position: absolute;
            content: attr(data-label);
            top: -10px;
            right: -8px;
            padding: 0.5rem;
            width: 7rem;
            background: #b900ff;
            color: white;
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-size: x-small;
            box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
        }
    </style>
</head>
<body id="app">
<div class="jumbotron jumbotron-fluid shadow-sm rounded">
    <div class="container">
        <h1 class="display-4"><i class="fa-solid fa-code"></i> {{data.info.title}}</h1>
        <p class="lead" style="margin-left: 4em">{{data.info.subTitle}}</p>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card mb-3 shadow-sm">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./assets/imgs/1621460436451.jpg" width="140" class="img-fluid" style="margin: 1em; border-radius: 20%" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Sobre mim</h5>
                            <p class="card-text" v-html="data.aboutMe"></p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Curriculum</h5>
                    <div class="card">
                        <div class="card-header">
                            Português
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>Meu curriculum atualizado</p>
                                <footer class="blockquote-footer">Atualizado em <cite title="Source Title">10/07/2022</cite></footer>
                            </blockquote>
                        </div>
                        <div class="text-end">
                            <a href="#" class="btn btn-primary" style="margin-right: 1em; margin-bottom: 1em"><i class="fa-solid fa-circle-chevron-down"></i> Baixar</a>
                            <a href="#" class="btn btn-success" style="margin-right: 1em; margin-bottom: 1em"><i class="fa-solid fa-book-open"></i> Ler Online</a>
                        </div>
                    </div>
                    <div class="card mt-2">
                        <div class="card-header">
                            English
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>My resume</p>
                                <footer class="blockquote-footer">Updated at <cite title="Source Title">2022-07-10</cite></footer>
                            </blockquote>
                        </div>
                        <div class="text-end">
                            <a href="#" class="btn btn-primary" style="margin-right: 1em; margin-bottom: 1em"><i class="fa-solid fa-circle-chevron-down"></i> Download</a>
                            <a href="#" class="btn btn-success" style="margin-right: 1em; margin-bottom: 1em"><i class="fa-solid fa-book-open"></i> Read Online</a>
                        </div>
                    </div>
                    <div class="card mt-2">
                        <div class="card-header">
                            Japanese
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>My resume</p>
                                <footer class="blockquote-footer">Updated at <cite title="Source Title">2022-07-10</cite></footer>
                            </blockquote>
                        </div>
                        <div class="text-end">
                            <a href="#" class="btn btn-primary" style="margin-right: 1em; margin-bottom: 1em"><i class="fa-solid fa-circle-chevron-down"></i> Download</a>
                            <a href="#" class="btn btn-success" style="margin-right: 1em; margin-bottom: 1em"><i class="fa-solid fa-book-open"></i> Read Online</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12 col-md-6">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Histórico profissional</h5>
                    <div class="card mb-2" v-for="job of data.jobs">
                        <div class="card-header">
                            {{job.name}}
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>{{job.job}}</p>
                                <footer class="blockquote-footer">{{job.dataInicio}} ~ <cite title="Source Title">{{job.dataFim === null ? 'Atual' : job.dataFim}}</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Histórico escolar</h5>
                    <div class="card mb-2" v-for="education of data.educations">
                        <div class="card-header">
                            {{education.courseName}}
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>{{education.description}}</p>
                                <p>{{education.institution}}</p>
                                <footer class="blockquote-footer"><cite title="Source Title">{{education.startDate}} ~ {{education.endDate === null ? 'Atual' : education.endDate}}</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12 col-md-6">
            <div class="card shadow-sm">
                <div class="card-body spec-card">
                    <h5 class="card-title">Habilidades</h5>
                    <div class="card mb-3" v-bind:data-label="specialist.category" v-bind:class="specialist.color" v-for="specialist of data.specialists">
                        <div class="card-body" style="margin-right: 5em">
                            <span class="badge" style="margin-right: 1em" v-bind:class="specialist.colorChip" v-for="hability of specialist.habilites">{{hability}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Projetos</h5>
                    <div class="card mb-3" v-for="work of data.works">
                        <div class="card-body">
                            <h5 class="card-title">{{work.name}}</h5>
                            <p class="card-text">{{work.description}}</p>
                        </div>
                        <div class="mt-1 mb-1 text-end">
                            <a v-bind:href="work.url" class="btn btn-outline-primary" style="margin-right: 1em">Acessar</a>
                            <a v-bind:href="work.source" class="btn btn-outline-primary">Código fonte</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12 col-md-4" v-for="course of data.courses">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{course.category}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Certificados conquistados</h6>
                    <div v-bind:id="course.id" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-inner">
                            <div class="carousel-item" v-bind:class="certificate.id == 1 ? 'active' : ''" v-for="certificate of course.certificates" data-bs-interval="3000">
                                <figure class="figure d-block">
                                    <a v-bind:href="certificate.image" data-lightbox="certificate-set" v-bind:data-title="certificate.dataTitle">
                                        <img v-bind:src="certificate.thumb" style="min-height: 200px; max-height: 200px" class="d-block w-75 mx-auto" alt="...">
                                    </a>
                                    <figcaption class="figure-caption text-end" style="margin-right: 3.8em">{{certificate.dataTitle}}</figcaption>
                                </figure>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" v-bind:data-bs-target="'#'+course.id" data-bs-slide="prev">
                            <span class="text-dark"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" v-bind:data-bs-target="'#'+course.id" data-bs-slide="next">
                            <span class="text-dark"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-3">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    A list item
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    A second list item
                    <span class="badge bg-primary rounded-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    A third list item
                    <span class="badge bg-primary rounded-pill">1</span>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6"></div>
    </div>
</div>

<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/vue.global.js"></script>
<script src="assets/js/axios.min.js"></script>
<script src="assets/js/fontawesome.all.min.js"></script>
<script src="assets/js/all.min.js"></script>
<script src="assets/js/lightbox.min.js"></script>
<script>
    const app = {
        data() {
            return {
                loading: false,
                currentYear: new Date().getFullYear(),
                data: {
                    info: {
                        title: "",
                        subTitle: ""
                    },
                    socialNetworks: {
                        github: "",
                        linkedin: ""
                    },
                    aboutMe: "",
                    educations: [
                        {
                            courseName: "",
                            description: "",
                            institution: "",
                            startDate: "",
                            endDate: ""
                        }
                    ],
                    specialists: [
                        {
                            category: "",
                            color: "",
                            colorChip: "",
                            habilites: []
                        }
                    ],
                    cvs: [
                        {
                            type: "",
                            updatedAt: "",
                            url: ""
                        }
                    ],
                    works: [
                        {
                            name: "",
                            description: "",
                            url: "",
                            source: ""
                        }
                    ],
                    courses: [
                        {
                            category: "",
                            id: "",
                            color: "",
                            certificates: [
                                {
                                    id: 0,
                                    name: "",
                                    image: "",
                                    thumb: ""
                                }
                            ]
                        }
                    ],
                    certifications: [
                        {
                            name: "",
                            url: ""
                        }
                    ]
                },
            };
        },
        mounted: function () {
            this.loading = true;
            axios
                // .get('https://public-variables.000webhostapp.com/cv_resume/index.php')
                .get('./data.json')
                .then(response => (this.data = response.data)).finally(() => this.loading = false)
        },
        methods: {
            generateClassForEducation() {
                return this.data.education.endDate === '' ? 'is-primary' : 'is-link';
            },
            createCarousel(id){
                new bootstrap.Carousel('#'+id)
            }
        }
    };
    Vue.createApp(app).mount('#app')
</script>
</body>
</html>