body {
    background-image: url('main-background-pc.jpg');
}
h1{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    font-size:3em;
}
h2{
    color: white;
    font-size: 20px;
    font-family: Roboto;
    font-weight: normal;
}
a{
    color:white;
    font-size:15px;
    padding: 0 30px
}
.color-opacity{
    padding: 5px;
    background-color: black;
    opacity: 0.8;
}
