/*body{*/
/*    background-color: hsl(0, 0%, 29%);*/
/*}*/
.brand-title{
    font-family: 'Comfortaa', cursive;
    font-size: large;
}

.padding-top{
    padding-top: 15px;
    padding-left: 10px;
}

.padding-left{
    padding-left: 5px;
}

.padding-right{
    padding-right: 5px;
}

.certificate-block{
    padding-left: 15px;
    padding-right: 15px;
}

.certificate-center {
    width:100%;
    text-align:center;
}

.routed{
    border-radius: 75px;
}

.routed:hover{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.w100{
    width: 100%;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
    align-content: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #76bfed 14%,#43aae6 64%);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #43aae6 14%,#76BFED 64%);
}
::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 4px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}

