.brand-title{
    font-family: 'Comfortaa', cursive;
    font-size: x-large;
}

.padding-top{
    padding-top: 15px;
    padding-left: 10px;
}

.padding-left{
    padding-left: 5px;
}

.padding-right{
    padding-right: 5px;
}
